<nav class="page-breadcrumb" *ngIf="!isViewOnly">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="scheme"><a routerLink="/scheme">Schemes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schemes</li>
  </ol>
</nav>
<div class="card container-card-ui">
  <div class="card-body">
    <div class="wd-ht-100-ui d-flex overflow-hidden dis-scroll-ui">
      <div class="flex-grow-1 d-flex flex-column p-3 overflow-auto  en-scroll-ui">
        <form [formGroup]="formPreScheme" *ngIf="schemeFormDetails && !isViewOnly" class="row pb-2"
          (ngSubmit)="getPreSchemeDetails()">
          <div  class="row pt-2">
            <div class="col-lg-4 col-md-6 col-sm-12">
          <mat-form-field appearance="standard" style="width:100%" >
            <mat-label>Scheme Type</mat-label>
            <mat-select formControlName="productControl" [disabled]="true">
              <ng-container *ngIf="dropDownProduct.length<1; else showApplicableTo">
                <mat-option disabled>No Data Found</mat-option>
              </ng-container>
              <ng-template #showApplicableTo>
                <mat-option disabled>Select Product Type</mat-option>
                <mat-option *ngFor="let schemetype of dropDownProduct" [value]="schemetype.schemeTypeId"
                  [innerText]="schemetype.schemeType"></mat-option>
              </ng-template>
            </mat-select>
            <mat-error
              *ngIf="formPreScheme.get('productControl')?.invalid">{{getErrorMessage('productControl')}}</mat-error>
          </mat-form-field>
          </div>
            <div *ngIf="this.schemeId==-1" class="col-lg-4 col-md-6 col-sm-12">
          <mat-form-field appearance="standard" style="width:100%">
            <mat-label>Select Scheme</mat-label>
            <mat-select formControlName="preSchemeControl">
              <ng-container *ngIf="dropDownPreSchemes.length<1; else showGLData">
                <mat-option disabled>No Data Found</mat-option>
              </ng-container>
              <ng-template #showGLData>
                <mat-option disabled>Select for scheme data</mat-option>
                <mat-option *ngFor="let preScheme of dropDownPreSchemes" [value]="preScheme.schemeId"
                [innerText]="preScheme.schemeCode + ' - ' + preScheme.description"></mat-option>
              </ng-template>
            </mat-select>
            <mat-error
              *ngIf="formPreScheme.get('preSchemeControl')?.invalid">{{getErrorMessage('preSchemeControl')}}</mat-error>
          </mat-form-field>
          </div>

          <div *ngIf="this.schemeId==-1" class="col d-flex align-items-center">
            <button class="btn btn-primary btn-block px-4 click-ui">Copy Scheme</button>
          </div>
          </div>
          <div class="col"></div>
        </form>
       <ngb-accordion  [closeOthers]="false" [activeIds]="currentFormId+''">
          *ngIf="expression;else templateName"
          <ng-container  *ngIf="fetchedProductId==1;else ifFSGF">
            <ngb-panel [id]="schemeForm.id+''" [title]="schemeForm.formName" [disabled]="!schemeForm.editable" *ngFor="let schemeForm of schemeFormDetails" >
              <ng-template ngbPanelContent >
                <app-scheme-form-info [hideButton]="true"*ngIf="schemeForm.id === 1"></app-scheme-form-info>
                <app-scheme-form-details [hideButton]="true"*ngIf="schemeForm.id === 2"></app-scheme-form-details>
                <app-scheme-form-additional-details [hideButton]="true" *ngIf="schemeForm.id ===3"></app-scheme-form-additional-details>
                <app-interest-configuration [hideButton]="true" *ngIf="schemeForm.id === 4"></app-interest-configuration>
                <app-interest-view [hideButton]="true" *ngIf="schemeForm.id === 5"></app-interest-view>
                <app-charge-master [hideButton]="true" *ngIf="schemeForm.id===6"></app-charge-master>
                <app-additional-details [hideButton]="true" *ngIf="schemeForm.id===7"></app-additional-details>
              </ng-template>
            </ngb-panel>
          </ng-container>
          <ng-template #ifFSGF>
            <ngb-panel  [id]="schemeFormDetails[0].id+''" [title]="schemeFormDetails[0].formName" >
              <app-scheme-form-info [hideButton]="true" *ngIf="schemeFormDetails[0].id == 1"></app-scheme-form-info>
        </ngb-panel>
        </ng-template>       
        </ngb-accordion>

      </div>
    </div>
    <div class="d-flex justify-content-center" *ngIf="!isViewOnly">
      <button class="btn btn-success me-2" [disabled]="!isDisable" *ngIf="!tranId"
        (click)="generateTran()">Finish</button>
      <button class="btn btn-success" [disabled]="!isDisable" *ngIf="tranId" (click)="sendBackReview()">Finish</button>
      <button class="btn btn-secondary ms-2" (click)="cancel()">Cancel</button>
    </div>
  </div>
</div>

<ng-template #NoDataTemplate>
  <div class="d-flex justify-content-center p-5">
    <app-no-data [noDataTitle]="'No pending scheme data found.'"></app-no-data>
  </div>
</ng-template>
