::ng-deep .row {

    margin-left: 0; /* Disable the original margin-left */
  
  }

  .custom-select {
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding: 0;
    font-weight: 450;
  }
